{% extends 'base.html'%}
{% block body%}
  <div class="container">


        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-12 ">

              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
              </div>
            <table class="table table-bordered text-center">
                 <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">Password Changed Successfully....</th>
                    </tr>
                </thead>
            </table>
              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'login'%}">Log In</a>
              </div>

            </div>
          </div>

 {% endblock%}