{% extends 'base.html'%}
{% block body%}
  <div class="container">


        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-12 ">

              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>

        <form method="POST" class="form-group" action="{% url 'login'%}" >
            {% csrf_token %}
            <table class="table table-bordered text-center">
                 <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">Item</th>
                    <th scope="col">Value</th>
                    </tr>
                </thead>
            {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-dark" value="submit">
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/login">Already have an account? Login!</a>
              </div>
            </div>
          </div>


 {% endblock%}