{% extends 'base.html'%}
{% block body%}

<div class="container">
  <h3 >About Us </h3>
<hr>
    <div class="row ">
       <div class="col-5 ">
             <p><strong><i class="fa fa-user-md fa-lg text-justify" aria-hidden="true"></i> Mohammad ReyajuddinSoftware<br> Developer at N S web Solutions<strong> </p>
           <p class="text-justify">Developed a tool to do LTE Optimization.Integrated Service Delivery Platform is the web working platform for Optimization. It has different sections like Smart QC, Rollout plan, Integartion Management, Isdp Acceptance, etc.</p>
           <p class="text-justify">This section has a dashboard having various optimisation activity tools/features i.e accessibility, retainability, mobility kpi analysis tools, alarm mapping.</p>


  </div>
         <div class="col-6 m-auto">
             <iframe width="500" height="300" src="https://www.youtube.com/embed/5WiDIhIkPoM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  </div>
 </div>
 </div>

{% endblock %}

