{% extends 'base.html'%}
{% block body%}


<div class="container">
    <h2 class="text-bold m-auto">List of Students</h2>
<hr>
    <a href="/studentcreate" class="btn btn-dark">ADD</a>
    <div class="row m-auto p-3">
        <div class="col-6 ">
            {%if data%}
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact_No</th>
                    <th scope="col">Class</th>
                    <th scope="col">Address</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>

                {% for elem in data%}
                <tbody>
                <tr class="text-center">
                    <td scope="row">{{elem.id}}</td>
                    <td scope="row"><img src="/media/{{elem.pic}}" class="mx-auto d-block img-fluid rounded" style="width:auto;height=auto;"></td>
                    <td scope="row">{{elem.name}}</td>
                    <td scope="row">{{elem.email}}</td>
                    <td scope="row">{{elem.contact_no|truncatewords:1|linebreaks}}</td>
                    <td scope="row">{{elem.classes}}</td>
                    <td scope="row">{{elem.permanent_address|truncatewords:1|linebreaks}}</td>
                    <td scope="row"><a href="/studentdetail/{{elem.id}}" class="btn btn-dark btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a> </td>
                    <td scope="row"><a href="/studentupdate/{{elem.id}}" class="btn btn-dark btn-sm"><i class="fa fa-check-square" aria-hidden="true"></i></a></td>
                    <td scope="row"><a href="/studentdelete/{{elem.id}}" class="btn btn-dark btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                {% empty %}
                    <div class="container-fluid">
                        <h3>No Posts Found Having Search Query "{{request.GET.q"</h3>
                    </div>
                {% endfor %}
                </tbody>
               </table>
             {% else %}
                <h1>No Data Found</h1>
                {% endif %}
        </div>
    </div>
</div>
<ul class="pagination">
    {% if data.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{data.previous_page_number}}">&laquo</a></li>
    {% endif %}

    {% for p in page_range %}
    {% if data.number == p %}
    <li class="page-item active">
        <a class="page-link" href="?page={{p}}">{{p}}</a></li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{p}}">{{p}}</a></li>
    {% endif %}
    {% endfor %}

{% if data.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{data.next_page_number}}">&raquo</a></li>
    {% endif %}
</ul>
{% endblock%}


